:root{
    /*Dimension base del hexagono*/
    --hex-width: 130px;
    --hex-height: calc(var(--hex-width)* 1.1547005);
    --gap: 12px;
}

body {
    margin: 0;
    padding: 0;
    background: transparent;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
    user-select: none;
}

.app-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 2rem;
    box-sizing: border-box;
}

/* ______________ Barra de Filtros ______________ */
.img{
    justify-items: center;
    width: 30vw;
    height: 30vh;
}

.filter-bar{
    align-self: center;
    margin-bottom: 1.5rem;
    background: rgba(15, 15, 20, 0.75);
    backdrop-filter: blur(12px);
    padding: 6px 16px;
    border-radius: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    gap: 8px;
    z-index: 100;
}

.filter-btn{
    background: transparent;
    border: none;
    color: #888;
    font-weight: bold;
    cursor: pointer;
    padding:6px 20px;
    border-radius: 2rem;
    transition: all 0.2 ease;
    font-size: 0.85rem;
}

.filter-btn:active{
    color: #fff;
    background: rgba(255, 255, 255, 0.75);
}
.filter-btn:hover{
    background: rgba(24, 24, 33, 0.75);
    color: #fff;
}

/* ______________ Contenedores y hexagonos ______________ */
.horizontal-scroll-container{
    width: 100%;
    max-width: 100vw;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 4rem 3rem;
    box-sizing: border-box;
    scrollbar-width: none;
    mask-image: linear-gradient(
        to right, 
        transparent,
        black 10%,
        black 90%, 
        transparent
    );
    -webkit-mask-image: linear-gradient(
        to right,
        transparent,
        rgba(0,0,0,1) 10%,
        rgba(0,0,0,1) 90%,
        transparent 100%
    );
}

.horizontal-scroll-container::-webkit-scrollbar {
    display: none;
}

.honeycomb-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /*grid-template-rows: var(--row-spacing) var(--hex-height);
    grid-auto-flow: column;
    grid-auto-columns: calc(var(--hex-width) + var(--gap-x));
    align-items: start;*/
    width: max-content;
    padding-top: 10px;
    padding-bottom: 20px;
}

/* ______________ animacion ______________ */
@keyframes hex-scroll-effect {
    0% {
        opacity: 0;
        transform: scale(0.6);
    }
    15% {
        opacity: 1;
        transform: scale(1);
    }
    85% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.6)
    }
}


.hexagon-wrapper {
    position: relative;
    width: var(--hex-width);
    height: var(--hex-height);
    margin-right: calc((var(--hex-width)* -0.57) + var(--gap));
    flex-shrink: 0;
    cursor: pointer;
    z-index: 1;
    transition: transform 0.25s cubic-bezier(0.2, 0.8, 0.2, 1), z-index 0.2s;
    animation: hex-scroll-effect linear both;
    animation-timeline: view(inline);
}

.hexagon-wrapper:nth-child(2n) {
    margin-top: calc(var(--hex-height) * 0.80);
}

.hexagon-wrapper:hover{
    transform: translateY(-10px) scale(1.15) !important;
    /*z-index: 50;*/
}


.hexagon-wrapper:nth-child(2n):hover {
    transform: translateY(-10px) scale(1.15) !important;
}


.hexagon-inner{
    width: 100%;
    height: 100%;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    background: rgba(44, 44, 55, 0.75);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    transition: background 0.2s, border 0.2s;
}

.hexagon-wrapper:hover .hexagon-inner {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.4);
}

/* Estilo para las imágenes dentro del hexágono */
.hexagon-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* La imagen se ajusta y recorta */
}

/* --- Marcadores de tipo (PIC/VID) --- */
.hexagon-content {
    position: absolute;
    bottom: 12%;
    align-self: center;
    background: rgba(10, 10, 10, 0.8);
    backdrop-filter: blur(4px);
    padding: 2px 6px;
    border-radius: 4px;
    color: #bbb;
    font-weight: bold;
    font-size: 0.6rem;
    pointer-events: none;
    z-index: 10;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
